<!-- {% extends 'base.html'%}
< Content block -->
<!-- {% block content %}
<div class="container"> -->

    <!-- Poster background -->
    <!-- <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 " style="background: url({{new.url}}) no-repeat center center">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 new-details">
            <h3>{{ new.name }}</h3>
            <h4> {{new.id}}</h4>
            <p class="category"> {{ new.category }}</p>
            <p class="description"> <b> {{ new.description }}</b> </p>
            <p class="language">{{ new.language}} </p>


        </div>
    </div>

</div>
{% endblock % --> 